# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo

# Build
Debug/
Release/

# Logs
*.log

# setting
/MasterServer/appsettings.json
/MasterServer/appsettings.Development.json

!/MasterServer/appsettings.Example.json
